<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>商家</title>
    <link rel="stylesheet" href="../../static/modules/elementui/theme/index.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/modules/animate.min.css">
    <script src="../../static/modules/wow.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/vue.min.js"></script>
    <script src="../../static/modules/elementui/index.js"></script>
    <script src="../../static/iconfont/iconfont.js"></script>
</head>
<body>
<el-container id="page" v-cloak>
    <el-header height="auto">
        <page-header></page-header>
    </el-header>
    <el-container>
        <page-aside>
            <template v-slot:menu>
                <page-menus></page-menus>
            </template>
        </page-aside>
        <el-main>
            <div class="child-page">
                <el-form ref="form" :model="user" class="form" label-width="120px" style="margin: 20px 0;">
                    <el-row>
                            <el-col :span="24">
                                <el-form-item label="商家账号" prop="shangjiazhanghao">
                                    <el-input class="list_inp" v-model="user.shangjiazhanghao" disabled placeholder="商家账号" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="商家名称" prop="shangjiamingcheng">
                                    <el-input class="list_inp" v-model="user.shangjiamingcheng"  placeholder="商家名称" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="图片" prop="tupian">
                                    <file-upload
                                            tip="点击上传图片"
                                            action="file/upload"
                                            :limit="3"
                                            :file-urls="user.tupian?user.tupian:''"
                                            @change="shangjiatupianUploadSuccess">
                                    ></file-upload>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="负责人" prop="fuzeren">
                                    <el-input class="list_inp" v-model="user.fuzeren"  placeholder="负责人" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="联系电话" prop="lianxidianhua">
                                    <el-input class="list_inp" v-model="user.lianxidianhua"  placeholder="联系电话" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="商家地址" prop="shangjiadizhi">
                                    <el-input class="list_inp" v-model="user.shangjiadizhi"  placeholder="商家地址" clearable />
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="星级" prop="xingji">
                                        <el-select
                                                class="list_sel"
                                                v-model="user.xingji"
                                                placeholder="请选择星级"
                                        >

                                        <el-option v-for="item in shangjiaxingjiLists" :label="item" :value="item"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        <div class="btn-row" style="text-align: center">
                            <el-button class='userinfo_confirm' type="primary" @click="onSubmit">保存</el-button>
                        </div>
                    </el-row>
                </el-form>
            </div>
        </el-main>
    </el-container>
</el-container>
</body>
<script src="../../static/modules/axios.min.js"></script>
<script src="../../utils/http.js"></script>
<script src="../../utils/toolUtil.js"></script>
<script src="../../utils/global_mixin.js"></script>
<!--引入组件-->
<script src="../../components/pageHeader.js"></script>
<script src="../../components/pageMenus.js"></script>
<script src="../../components/pageAside.js"></script>
<script src="../../components/FileUpload.js"></script>
<script>
    var vm = new Vue({
        el: '#page',
        data(){
            return {
                user:{
                                shangjiazhanghao:null,
                                shangjiamingcheng:null,
                                tupian:null,
                                fuzeren:null,
                                lianxidianhua:null,
                                shangjiadizhi:null,
                                xingji:null,
                },
                        shangjiaxingjiLists:[],
            }
        },
        mounted(){
            this.getInfo()
        },
        methods: {
            init(){
                        this.shangjiaxingjiLists = "一级,二级,三级,四级,五级".split(',')
            },
                    shangjiatupianUploadSuccess(fileUrls){
                        this.user.tupian = fileUrls;
                    },
            onSubmit(){
                        if(!this.user.shangjiazhanghao){
                            return this.$message.error('商家账号不能为空')
                        }
                        if(!this.user.mima){
                            return this.$message.error('密码不能为空')
                        }
                        if(!this.user.shangjiamingcheng){
                            return this.$message.error('商家名称不能为空')
                        }
                        if(this.user.tupian!=null){
                            this.user.tupian = this.user.tupian.replace(new RegExp(baseUrl,"g"),"");
                        }
                        if((this.user.lianxidianhua)&& !toolUtil.isMobile(this.user.lianxidianhua) ){
                            return this.$message.error('联系电话应输入手机格式')
                        }
                http.post('shangjia/update',this.user).then(res=>{
                    this.$message.success('修改成功')
                })
            },
            getInfo(){
                http.get('shangjia/session').then(res=>{
                    for(let key in res.data.data){
                        this.user[key] = res.data.data[key]
                    }
                    this.init()
                })
            },
        }
    })
</script>
</html>
